*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-secondary: #4d4861;
$color-light: #9797a5;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
.container {
  padding: 0 16px;
}
.post {
  padding: 16px;
  margin: 15px 0;
  border: 2px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 1px 1px rgba(245, 255, 249, 0.913);
}
.post-creator {
  line-height: 0.7 !important;
}
.comment-container {
  max-height: 200px;
  background-color: #fbf9fa;
  // border: 2px solid rgba(0, 0, 0, 0.12);
  overflow: auto;
}
.comment-container .box {
  padding: 0 10px;
}
.error-msg {
  color: red;
  text-align: center;
}

// || Utilities
.flex {
  display: flex !important;
}
.justify-content-center {
  align-items: center !important;
}
.justify-content-flex-start {
  justify-content: flex-start !important;
}
.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 10px;
}
.mx-1 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mb-05 {
  margin-bottom: 5px !important;
}
.py-0 {
  padding: 0 !important;
}
.ps-1 {
  padding-left: 10px !important;
}
.ps-2 {
  padding-left: 20px !important;
}
.gap-1 {
  gap: 10px !important;
}

// || Text
.text-small {
  font-size: 14px !important;
}
.text-secondary {
  color: $color-secondary !important;
}
.text-light {
  color: $color-secondary !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.text-underline {
  text-decoration: underline !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right !important;
}
